A project developed from META Database Engineering course participation

Little Lemon is a family-owned Mediterranean restaurant. They are developing a Python-based application that needs to connect with the MySQL database so that the booking, menu and orders data can be stored in the respective tables. 

The restaurant owner wants to use the stored data to make data-driven decisions to increase their revenue. Establishing a database is one of their key objectives.

Establish Conection

Install dependenc: 
pip install mysql-connector-python

In [80]:
import os
from dotenv import load_dotenv

# Load environment variables from the .env file
load_dotenv()

# Access environment variables
database_url = os.getenv('DATABASE_URL')
secret_key = os.getenv('SECRET_KEY')
debug = os.getenv('DEBUG')

print(f"Database URL: {database_url}")
print(f"Secret Key: {secret_key}")
print(f"Debug Mode: {debug}")

Collecting python-dotenv
  Using cached python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [40]:
import mysql.connector as connector

In [82]:
"""
connection = connector.connect(user="root",password="")
"""

'\nconnection = connector.connect(user="root",password="")\n'

 Create a cursor

In [42]:
cursor = connection.cursor()

Create the database and set it for use

In [43]:
cursor.execute("CREATE DATABASE IF NOT EXISTS little_lemon_db")

In [44]:
cursor.execute("USE little_lemon_db")

In [45]:
cursor.execute("""DROP TABLE IF EXISTS MenuItems;""")
cursor.execute("""DROP TABLE IF EXISTS Menus;""")
cursor.execute("""DROP TABLE IF EXISTS Bookings;""")
cursor.execute("""DROP TABLE IF EXISTS Orders;""")
cursor.execute("""DROP TABLE IF EXISTS Employees;""")

Create tables

In [46]:
create_menuitem_table = """CREATE TABLE IF NOT EXISTS MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [47]:
create_menu_table = """CREATE TABLE IF NOT EXISTS Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [48]:
create_booking_table = """CREATE TABLE IF NOT EXISTS Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [49]:
create_orders_table = """CREATE TABLE IF NOT EXISTS Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [50]:
create_employees_table = """CREATE TABLE IF NOT EXISTS Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [51]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

In [52]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary) VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""

Insert data

In [53]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

In [54]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

mysql pool configuration

In [84]:
"""
dbConfig = {
    "database":"little_lemon_db",
    "user":"root",
    "password":"",
}
"""

'\ndbConfig = {\n    "database":"little_lemon_db",\n    "user":"root",\n    "password":"",\n}\n'

create a connection pool

In [56]:
try:
    pool = MySQLConnectionPool(pool_name="pool_a",pool_size=2,**dbConfig)
    print("Connection pool is created with a name: ",pool.pool_name)
    print("The pool size is: ", pool.pool_size)
except Error as error:
    print("pool could not be created")
    print("error code: ", error.errno)
    print("error message: ", error.msg)

Connection pool is created with a name:  pool_a
The pool size is:  2

Implement a stored procedure that shows the peak and busiest hours based on the booking numbers

In [57]:
cursor.execute("""DROP PROCEDURE IF EXISTS PeakHours""")
stored_procedure_query = """
CREATE PROCEDURE PeakHours()

BEGIN

SELECT HOUR(BookingSlot) AS BookingHour, COUNT(*) AS NumberOfBookings from little_lemon_db.bookings 
GROUP BY HOUR(BookingSlot) 
ORDER BY NumberOfBookings DESC;

END
"""

In [58]:
cursor.execute(stored_procedure_query)

call the stored procedure

In [59]:
cursor.callproc("PeakHours")

()

Retrieve records

In [60]:
response = next(cursor.stored_results())
dataset = response.fetchall()

Retrieve columns

In [61]:
columns = [col[0] for col in response.description]

print(columns)

['BookingHour', 'NumberOfBookings']

In [62]:
# Print data
for data in dataset:
    print(data)

(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

A stored procedure that displays the status of each guest’s order based on the assigned employee

In [63]:
cursor.execute("""DROP PROCEDURE IF EXISTS GuestStatus""")
guest_status_query = """
CREATE PROCEDURE GuestStatus()

BEGIN

SELECT CONCAT(b.GuestFirstName,b.GuestLastName) AS FullName,
CASE
WHEN e.Role IN ("Manager","Assistant Manager") THEN "Ready to pay"
WHEN e.Role = "Head Chef" THEN "Ready tp serve"
WHEN e.Role = "Assistant Chef" THEN "Preparing Order"
WHEN e.Role = "Head Waiter" THEN "Order served"
ELSE "Unknown Status"
END AS OrderStatus
FROM little_lemon_db.bookings b
LEFT JOIN
little_lemon_db.employeeS e
ON b.employeeID = e.employeeID;

END
"""

In [64]:
cursor.execute(guest_status_query)

call the stored procedure

In [65]:
cursor.callproc("GuestStatus")

()

Retrieve guest records

In [66]:
guest_response = next(cursor.stored_results())
dataset = guest_response.fetchall()

In [67]:
guest_columns = [col[0] for col in guest_response.description]

In [68]:
guest_columns

['FullName', 'OrderStatus']

Print data

In [69]:
for data in dataset:
    print(data)

('AnnaIversen', 'Ready to pay')
('JoakimIversen', 'Ready to pay')
('VanessaMcCarthy', 'Ready tp serve')
('MarcosRomero', 'Preparing Order')
('HirokiYamane', 'Ready to pay')
('DianaPinto', 'Order served')

Create pool_b

In [86]:
# TASK 1
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
# mysql pool configuration
"""
dbConfig = {
    "database":"little_lemon_db",
    "user":"root",
    "password":"",
}


# create a connection pool
try:
    pool = MySQLConnectionPool(pool_name="pool_b",pool_size=2,**dbConfig)
    print("Connection pool is created with a name: ",pool.pool_name)
    print("The pool size is: ", pool.pool_size)
except Error as error:
    print("pool could not be created")
    print("error code: ", error.errno)
    print("error message: ", error.msg)
"""

'\ndbConfig = {\n    "database":"little_lemon_db",\n    "user":"root",\n    "password":"",\n}\n\n\n# create a connection pool\ntry:\n    pool = MySQLConnectionPool(pool_name="pool_b",pool_size=2,**dbConfig)\n    print("Connection pool is created with a name: ",pool.pool_name)\n    print("The pool size is: ", pool.pool_size)\nexcept Error as error:\n    print("pool could not be created")\n    print("error code: ", error.errno)\n    print("error message: ", error.msg)\n'

In [71]:
# TASK 2
try:
    connection = pool.get_connection()
    cursor = connection.cursor()
    insert_new_bookings="""
    INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
    GuestLastName, BookingSlot, EmployeeID)
    VALUES
    (7, 8, 'Annes','Java','18:00:00',6),
    (8, 5, 'Bald', 'Vin', '19:00:00', 6),
    (9, 12, 'Jay', 'Kon', '19:30:00', 6)
    ;"""
    # Insert data into Bookings table
    cursor.execute(insert_new_bookings)
    connection.commit()
except Exception as e:
    print("pooling Error: ",e)

TASK 3
The name and EmployeeID of the Little Lemon manager.

In [72]:
found_manager_query= """SELECT name FROM little_lemon_db.employees WHERE Role="Manager";"""
cursor.execute(found_manager_query)
result = cursor.fetchall()
print(result)

[('Mario Gollini',)]

The name and role of the employee who receives the highest salary.

In [73]:
highest_earner_query = """SELECT Name,Role from little_lemon_db.employees ORDER BY Annual_Salary DESC LIMIT 1;"""
cursor.execute(highest_earner_query)
result = cursor.fetchall()
print(result)

[('Mario Gollini', 'Manager')]

The number of guests booked between 18:00 and 20:00.

In [74]:
num_guests_query = """SELECT COUNT(*) FROM little_lemon_db.bookings WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';;"""
cursor.execute(num_guests_query)
result = cursor.fetchall()
print(result[0][0])

7

The full name and BookingID of all guests waiting to be seated with the receptionist in sorted order 
with respect to their BookingSlot.

In [75]:
seating_order_query = """SELECT CONCAT(GuestFirstName,'  ',GuestLastName) AS FullName,BookingID,BookingSlot FROM 
                        little_lemon_db.bookings ORDER BY BookingSlot;"""
cursor.execute(seating_order_query)
results = cursor.fetchall()
for result in results:
    print(result)

('Vanessa  McCarthy', 3, datetime.timedelta(seconds=54000))
('Marcos  Romero', 4, datetime.timedelta(seconds=63000))
('Annes  Java', 7, datetime.timedelta(seconds=64800))
('Hiroki  Yamane', 5, datetime.timedelta(seconds=66600))
('Anna  Iversen', 1, datetime.timedelta(seconds=68400))
('Joakim  Iversen', 2, datetime.timedelta(seconds=68400))
('Bald  Vin', 8, datetime.timedelta(seconds=68400))
('Jay  Kon', 9, datetime.timedelta(seconds=70200))
('Diana  Pinto', 6, datetime.timedelta(seconds=72000))

Convert the time deltas to hours, minutes, and seconds

In [76]:
from datetime import timedelta

# List of tuples containing the data above
time_data = [
    ('Vanessa McCarthy', 3, timedelta(seconds=54000)),
    ('Marcos Romero', 4, timedelta(seconds=63000)),
    ('Annes Java', 7, timedelta(seconds=64800)),
    ('Hiroki Yamane', 5, timedelta(seconds=66600)),
    ('Anna Iversen', 1, timedelta(seconds=68400)),
    ('Joakim Iversen', 2, timedelta(seconds=68400)),
    ('Bald Vin', 8, timedelta(seconds=68400)),
    ('Jay Kon', 9, timedelta(seconds=70200)),
    ('Diana Pinto', 6, timedelta(seconds=72000))
]

# Function to convert timedelta to hours, minutes, and seconds
def convert_timedelta(time_delta):
    total_seconds = int(time_delta.total_seconds())
    hours, remainder = divmod(total_seconds, 3600)
    minutes, seconds = divmod(remainder, 60)
    return f"{hours:02}:{minutes:02}:{seconds:02}"

converted_times = [(name, rank, convert_timedelta(time_delta)) for name, rank, time_delta in time_data]

# Print the converted times
for name, rank, time_str in converted_times:
    print(f"{name} (Rank {rank}): {time_str}")

Vanessa McCarthy (Rank 3): 15:00:00
Marcos Romero (Rank 4): 17:30:00
Annes Java (Rank 7): 18:00:00
Hiroki Yamane (Rank 5): 18:30:00
Anna Iversen (Rank 1): 19:00:00
Joakim Iversen (Rank 2): 19:00:00
Bald Vin (Rank 8): 19:00:00
Jay Kon (Rank 9): 19:30:00
Diana Pinto (Rank 6): 20:00:00

TASK 4
Create stored procedure
A stored procedure that displays the status of each guest’s order based on the assigned employee

In [77]:
sales_status_query = """

CREATE PROCEDURE GuestStatusss()

BEGIN

SELECT SUM(Quantity) AS TotalSales, AVG(Quantity) AS AverageSales, MIN(BillAmount) AS MinBillPaid, MAX(BillAmount) 
AS MaxBillPaid
FROM little_lemon_db.orders;
END
"""
cursor.execute(sales_status_query)
result = cursor.fetchall()
result

[]

In [78]:
print('i')

i

TASK 5
Combine Data

In [79]:
try:    
    combined_query = """
    SELECT 
        b.BookingSlot,
        CONCAT(b.GuestFirstName, ' ', b.GuestLastName) AS GuestName,
        CONCAT('Assigned to: ', e.Name, ' [', e.Role, ']') AS AssignedTo
    FROM 
        Bookings b
    JOIN 
        Employees e
    ON 
        b.EmployeeID = e.EmployeeID
    ORDER BY 
        b.BookingSlot ASC
    LIMIT 3;
    """

    cursor.execute(combined_query)

    results = cursor.fetchall()
    for (booking_slot, guest_name, assigned_to) in results:
        print(f"[{booking_slot}]\n[{guest_name}]\n[{assigned_to}]\n")

except Exception as e:
    print("Pooling connection error: ",e)

[15:00:00]
[Vanessa McCarthy]
[Assigned to: Giorgos Dioudis [Head Chef]]

[17:30:00]
[Marcos Romero]
[Assigned to: Fatma Kaya [Assistant Chef]]

[18:00:00]
[Annes Java]
[Assigned to: John Millar [Receptionist]]